Source: lua-httpd
Section: interpreters
Priority: optional
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>= 3.0.24), liblua50-dev, liblualib50-dev
Standards-Version: 3.6.0

Package: lua-httpd
Architecture: any
Depends: ${shlibs:Depends}, lua50
Description: TCP socket library for Lua 5.0
 Luasocket provides a TCP/UDP socket library for Lua 5.0
 .
 The package also provides a simple, but robust, HTTP server
 written entirely in Lua 5.0.
 .
 The sample HTTP server can serve multiple virtual hosts, 
 handle a full range of MIME types and log in the Apache
 common logfile format for each host.
 .
 Homepage: http://www.steve.org.uk/Software/lua-httpd/
